.navbar {
	background-color: black;
	border-bottom: solid 1px white;
}

.navbar-header {
	background-color: red;
	float: left;
}

.navbar-brand {
	color: white;
	font-size: 2em;
	font-weight: bold;
	font-family: serif;
}

.navbar-brand:hover {
	color: white;
}

.navbar-brand:focus {
	color: white;	
}

.nav > li > a {
	color: white;
}

.nav > li > a:hover {
	background-color: black;
	color: red;
}

.nav > li > a:focus {
	background-color: black;
	color: white;
}

.navbar-right {
	padding-right: 15px;
}

.navbar-toggle {
	color: white;
	margin: 5px 15px auto 0;
}

.navbar-toggle:hover {
	color: red;
	text-decoration: none;
}

.navbar-toggle:focus {
	color: white;
}

.dropdown-menu {
	margin-top: 40px;
	background-color: black;
}

.dropdown-menu li > a{
	color: white;
}

.dropdown-menu li > a:hover {
	color: red;
	background-color: black;
}



@media screen and (max-width: 1174px) {
	.navbar-nav {
		display: none;
	}

	.navbar-toggle {
		display: block;

	}
}

.container-fluid {
	margin-top: 65px;
}

.side-menu h4 {
	padding-bottom: 10px;
	border-bottom: solid 1px lightgrey;
}

.side-menu ul {
	padding: 0;
}

.side-menu ul > li {
	padding: 10px 0;
	list-style: none;
	border-bottom: solid 1px lightgrey;
}

.side-menu ul > li > a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.side-menu ul > li > a:hover {
	color: red;
}

.side-menu ul > li > a:focus {
	color: black;
}

img {
	width: 100%;
}

.main-article h1 {
	font-size: 33px;
	line-height: 33px;
}

.red-underline-link {
	font-weight: 900;
	font-family: "Roboto Condensed", sans-serif;
	text-decoration: none;
	color: black;
}

.red-underline-link:hover {
	text-decoration: underline red;
	color: black;
}

.red-underline-link:focus {
	text-decoration: none;
	color: black;
}

.grey-bottom-border {
	border-bottom: solid 1px lightgrey;
	padding-bottom: 10px; 
}

.category {
	color: red;
	font-weight: bold;
}

.section-title {
	font-weight: 900;
	font-family: "Roboto Condensed", sans-serif;
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}

.footer {
	border-top: solid 1px lightgrey;
	margin-top: 20px;
}

.leaf, .leaf-first, .leaf-last {
	display: inline-block;
	list-style: none;
	padding: 0 12px;
	border-left: solid 1px lightgrey;
}

.leaf-first {
	border-left: 0;
	padding-left: 0;
}

.leaf-last {
	padding-right: 0;
}

.leaf a, .leaf-first a, .leaf-last a {
	text-decoration: none;
	color: grey;

}

.leaf a:hover, .leaf-first a:hover, .leaf-last a:hover {
	color: black;
}